:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-1: #eee;
}

// Wartości dla media queries:
// 75em;        1200/16
// 70em;        1120/16
// 68.75em;     1100/16
// 56.25em;     900/16
// 37.5em;      600/16
// 31.25em;     500/16